# --- OS & System Files ---
.DS_Store
Thumbs.db

# --- Unity (Client) ---
/[Cc]lient-[Uu]nity/[Ll]ibrary/
/[Cc]lient-[Uu]nity/[Tt]emp/
/[Cc]lient-[Uu]nity/[Oo]bj/
/[Cc]lient-[Uu]nity/[Bb]uild/
/[Cc]lient-[Uu]nity/[Bb]uilds/
/[Cc]lient-[Uu]nity/[Ll]ogs/
/[Cc]lient-[Uu]nity/[Uu]ser[Ss]ettings/
*.pidb.meta
*.pdb
*.suo
*.sln
*.csproj

# --- Python (AI) ---
/[Ss]erver-[Aa][Ii]/venv/
/[Ss]erver-[Aa][Ii]/__pycache__/
*.pyc
.ipynb_checkpoints

# --- Java/IntelliJ (Backend & Server) ---
/[Ss]erver-[Bb]ackend/.idea/
/[Ss]erver-[Bb]ackend/target/
/[Ss]erver-[Bb]ackend/build/
/[Ss]erver-[Mm]ain/.idea/
/[Ss]erver-[Mm]ain/bin/
*.class
*.log